# Dépendances
node_modules/

# Sorties de build
dist/
.astro/

# Environnement local
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Éditeurs
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

config/config.local.php
